
{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}

<h3> Welcome to demo back office</h3>

<hr />
<p>You can create the database <a href="{{ path('index.install') }}">Here</a>
<hr />
<p> Or if the database is already available you can try to <a href="{{ path('index.login') }}">Login</a>

{% endblock %}
