{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}

		<fieldset>
			<h2>LOGIN</h2>
			{% if error %}
		        <div class="alert alert-error">
		            {{ error }}
		        </div>
		        <div class="alert alert-info">
		            <strong>Hint:</strong> Try <code>username</code>/<code>password</code>
		        </div>
		    {% endif %}
			<form action="{{ path('login_check') }}" method="post" novalidate {{ form_enctype(form) }} >
				{{ form_widget(form) }}
				<p class="right">
					<button type="submit">START</BUTTON>
				</p>
			</form>
		</fieldset>

{% endblock %}
