	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="{{ url('index.index') }}">Project name</a>
				<p class="navbar-text pull-right">
				{% if( is_granted('IS_AUTHENTICATED_FULLY')) %}
					<a href="{{ path('manage_logout') }}">{{ app.security.token.username }} <span class="icon-off"></span></a>
				{% else %}
					<a href="{{ path('index.login') }}"> Login</a>
				{% endif %}
				</p>
			</div>				
		</div>
	</div>
